body{
    background-color: green;
    margin:20px;
    color:gold
    
}
h1{
    text-align:center;
    font-size: 50px;

}
h2{
    text-align: center;
}

form{
    display:flex;
    flex-direction: column;
    background-color:beige;
   border-radius: 10px;
   width: 400px;
   gap: 10px;
   margin: 0 auto;
   padding:20px;
  box-shadow: 0 2px 4px purple
}
button{
    background-color:green;
    color: azure;
    font-size: 15px;
}
button:hover{
    background-color: gold;
}

ul#entries {
  list-style-type: none;
  padding: 0;
  max-width: 500px;
  margin: 0 auto;
  
}

ul#entries li {
  background-color: beige;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px purple;
}
img{
    display:none;
    width: 300px;
    margin: 20px auto;
    display:block;
}